@page
@model EPay.Pages.Payments.CreateModel
@{
    ViewData["title"] = "New Payment";
}

<form class="form" method="post">

    <h2>New Payment</h2>
    <hr />
    <div class="form-group">
        <input asp-for="@Model.Payment.UserName" class="form-control m-1" placeholder="User">
        <input asp-for="@Model.Payment.Amount" class="form-control m-1" placeholder="Amount">
        <select asp-for="@Model.Payment.Type" class="form-control m-1" asp-items="Html.GetEnumSelectList<EPay.Models.EventType>()">
            <option selected="selected" value="">Please select</option>
        </select>

        <button class="btn btn-primary">Submit</button>
    </div>

</form>