@page
@model EPay.Pages.Payments.CreateModel
@{
}

<form class="form" method="post">

    <div class="form-group">
        <input asp-for="@Model.Payment.UserName" class="form-control" placeholder="User">
        <input asp-for="@Model.Payment.Amount" class="form-control" placeholder="Amount">
        <select asp-for="@Model.Payment.Type" class="form-control" asp-items="Html.GetEnumSelectList<EPay.Models.EventType>()">
            <option selected="selected" value="">Please select</option>
        </select>

        <button class="btn btn-primary">Submit</button>
    </div>

</form>