@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1 class="display-4">Epay</h1>
    <p class="lead">Payment Management System</p>
   
    <a class="btn btn-primary btn-lg" asp-page="/payments/index" role="button">Payment List</a>
</div>